.css-18rr30y.et6tpn60 {
    color: #ffffff;
    background-color: #212121;
}

.css-18rr30y.et6tpn60:hover {
    color: #212121;
    background-color: #ffffff;
}

.css-18rr7n6-container {
    background-color: #212121;
}

.css-1jzfk2t-container {
    background-color: #212121;
}

body {
    background-color: #212121;
}